<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DB connection settings-->
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/allHibernateMapping</property>
        <property name = "hibernate.connection.username">postgres</property>
        <property name = "hibernate.connection.password">root</property>

        <!-- Schema auto-update-->
        <property name = "hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Correct PostgreSQL dialect -->
        <property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <mapping class="org.example.Student"/>
        <mapping class="org.example.StudentProfile"/>
        <mapping class="org.example.Department"/>
        <mapping class="org.example.Course"/>
        <mapping class="org.example.Teacher"/>

    </session-factory>
</hibernate-configuration>